.happy-valentines-day {
	color: white;
	font-size: 5vmin;
	font-weight: bold;
	letter-spacing: 0.05em;
	margin: 1em auto 0;
	max-width: 16em;
	text-align: center;

	.happy-valentines-day__text {
		position: relative;
		z-index: 1;
	}

	.happy-valentines-day__big {
		display: block;
		font-size: 1.5em;
		text-transform: uppercase;
		position: relative;
		top: 0.06em;
		z-index: 1;
	}

	.happy-valentines-day__cheat {
		display: block;
		position: relative;
		font-size: 0.5em;
		margin-top: 1em;
	}
}
