.loader-button {
	@extend .button;

	width: 10em;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	&:not(.loader-button__loaded) {
		background-color: $color-secondary;
		pointer-events: none;
	}

	.loader-button__bar {
		background-color: $color-primary;
		opacity: 1;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;

		transition: opacity $transition-short;
		transition-delay: $transition-short;
	}

	&.loader-button__loaded .loader-button__bar {
		opacity: 0;
	}

	.loader-button__loading-text,
	.loader-button__text {
		opacity: 1;

		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		transform: translateY(-50%);

		transition: opacity $transition-long, transform $transition-long;
	}

	.loader-button__loading-text {
		&.loader-button__loading-text--transition-enter,
		&.loader-button__loading-text--transition-leave {
			opacity: 0;
		}
	}

	.loader-button__text {
		transition-delay: $transition-long;

		&.loader-button__text--transition-enter,
		&.loader-button__text--transition-leave {
			opacity: 0;
		}
	}
}
