.mussel {
	background: green;
	display: block;

	transition: top $transition-long, left $transition-long, transform $transition-long;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	&.mussel--behind-seafloor {
		z-index: 0;
	}
}
